<nav>
    <ul>
        <!-- Link to add a new page -->
        <li><a href="/addPage" class="links">Add Page</a></li>
        <!-- Link to edit pages -->
        <li><a href="/editPage" class="links">Edit pages</a></li>
        <!-- Link to logout -->
        <li style="float: right;" class="links"><a href="/logout">Logout</a></li>
    </ul>
</nav>